body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #2980b9, #6dd5fa, #ffffff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}


h1 {
    font-size: 26px;
    color: white;
}


.search-box {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 70%;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


button {
    padding: 10px 15px;
    background: #ff4b2b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: all 0.3s ease;
}

button:hover {
    background: #ff6a4b;
    transform: scale(1.05);
}


.weather-card {
    padding: 15px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

h2, h4, p {
    margin: 8px 0;
    color: white;
}

